.Navbar {
  padding-top: 20px;
  background-color: #ace69d;
  font-family: "Comfortaa", cursive;
  .links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }
}
