.CocktailList {
  font-family: "Comfortaa", cursive;
  margin-top: 100px;
  padding-bottom: 100px;
  .cocktails-header {
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.5rem;

    @media screen and (max-width: 425px) {
      font-size: 2rem;
    }
  }
  .cocktails-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
